* {
    font-family: 'Roboto', sans-serif;
}

.navbar-inverse {
    background-color: #0066b3;
    border-bottom: 5px solid #f60
}

div#top-menu a {
    padding: 0px;
    margin: 8px 0px;
}

div.user {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
    color: #0066b3;
    font-size: 15px;
}

h1.tl-page {
    color: #0066b3;
    font-size: 25px;
    display: inline-block;
    margin-top: 0;
}

a.btn-new {
    float: right;
    margin-top: 0;
    display: inline;
}

.not-active {
    pointer-events: none;
    cursor: default;
    background-color: #eee;
    color: #000 !important;
}

textarea {
    resize: none;
}

span.versao {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 2px 10px;
    color: rgba(0, 102, 179, 1);
}

.wrap {
    position: relative;
}

.wrap .nav-bar .navbar-brand {
    margin-top: 15px;
}

.wrap .nav-bar .navbar-form {
    margin-top: 25px;
}

.wrap .nav-bar .nav {
    float: right !important;
}

.wrap .nav-bar .nav .dropdown span.fa,
.wrap .nav-bar .nav .dropdown span.caret {
    margin-right: 10px;
}

.wrap .nav-bar .nav .dropdown-menu {
    background: #222;
    left: auto;
    width: 200px;
    right: 0;
}

.wrap .nav-bar .nav .dropdown-menu>li>a {
    color: #ddd;
    padding: 8px;
}

.wrap .nav-bar .nav .dropdown-menu>li>a:hover {
    background: #3355ff;
}

.wrap .side-menu-link {
    left: 21em;
}

.wrap .burger {
    position: relative;
    width: 35px;
    height: 30px;
    left: 10px;
    top: 8px;
    z-index: 500000;
    opacity: 0.5;
}

.wrap .burger .burger_inside {
    position: absolute;
    background-color: #555;
    width: 30px;
    height: 5px;
    left: 2.5px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.wrap .burger #bgrOne {
    top: 0;
}

.wrap .burger #bgrTwo {
    top: 10px;
}

.wrap .burger #bgrThree {
    top: 20px;
}

.wrap #side-menu {
    position: absolute;
    z-index: -1;
    width: 22em;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 10px;
    float: left;
    display: block;
    left: 0;
}

.wrap .content {
    position: absolute;
    right: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrap .content .top-bar {
    height: 40px;
    background: #f0f0f0;
}

.wrap .content .content-inner {
    background: #fff;
    padding-left: 20px;
    display: block;
    position: absolute;
    min-height: 800px;
    width: 100%;
    border: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
}

.wrap ul.accordion {
    width: 100%;
    background: transparent;
}

.wrap ul.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #0066b3;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #74a3c7;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.wrap ul.accordion li:not(open) last-child .link {
    border-bottom: 0;
}

.wrap ul.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #999;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.wrap ul.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

.wrap ul.accordion li.open .link {
    color: #f60;
}

.wrap ul.accordion li.open i {
    color: #f60;
}

.wrap ul.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.wrap ul.accordion ul.submenu {
    display: none;
    background: transparent;
    font-size: 14px;
    padding: 0;
}

.wrap ul.accordion ul.submenu li {
    border-bottom: 1px solid #74a3c7;
    list-style: none;
}

.wrap ul.accordion ul.submenu li a {
    display: block;
    text-decoration: none;
    color: #497fa9;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.wrap ul.accordion ul.submenu li a:hover {
    background: rgba(206, 206, 206, 0.3);
    color: #74a3c7;
}


/* FILTRO DE PESQUISA */

details {
    border-top: 1px solid #949494;
    padding-top: 0px;
}


/* form {
    display: inline-block;
} */

summary {
    color: #0066b3;
    font-weight: 500;
    margin-top: 10px;
}

select.listagem {
    float: none;
    display: inline-block;
    height: 25px;
    margin-left: 10px;
    border-radius: 0;
    border: 1px solid #ccc;
    width: auto;
    margin-top: 10px;
    background-color: #eee;
    padding: 3px 12px;
}

select.form-control {
    border-radius: 0;
    width: 100%;
    margin-top: 10px;
    background-color: #eee;
    height: 30px;
    padding: 3px 12px;
}

div.form-group {
    margin-top: 10px;
    margin-bottom: 0;
}

div.form-group label {
    display: block;
}

div.form-group input {
    width: 100%;
    display: inline-block;
    height: 30px;
}

a.btn {
    height: 30px;
    padding: 4px 20px;
}

a.btn i {
    margin-right: 5px;
}

.filter-button {
    margin-top: 10px;
    display: block;
}


/* FIM FILTRO DE PESQUISA */


/* ALERTAS */

.alert {
    margin-top: 10px;
    padding: 8px 15px;
}

.alert summary {
    margin-top: 0;
    list-style: none;
}

.alert span {
    display: block;
    margin-top: 5px;
}

.alert span i {
    margin-right: 5px;
}


/* FIM ALERTAS */


/* TABELAS */

i.ata-p {
    color: #517fff;
}

i.ata-v {
    color: #468847;
}

i.ata-s {
    color: #FF0000;
}

i.ata-salva {
    color: #000;
}

.fa-envelope {
    color: #21600b;
}

.fa-envelope-open {
    color: #b21b0b;
}

table {
    width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
}

.table thead tr td {
    color: #123553;
    font-weight: 800;
    padding: 7px 8px;
}

.table tbody tr td {
    color: #123553;
    font-weight: 300;
    padding: 7px 8px;
}

nav.pagination {
    display: inline-block;
    float: left;
    margin: 0;
    margin-bottom: 20px;
}

.pagination {
    margin: 0;
}

.btn-export {
    float: right;
    background-color: #f0ad4e;
    border: 0;
}

tbody tr td a.btn {
    padding: 3px 20px;
    height: 25px;
}

a.btn-primary {
    background-color: #1c486c;
    border: 0;
}

a.btn-primary:hover,
a.btn-primary:focus,
a.btn-primary:active {
    background-color: #113b5d;
    border: 0;
}

a.btn-info {
    background-color: #3f729d;
    border: 0;
}

a.btn-info:hover,
a.btn-info:focus,
a.btn-info:active {
    background-color: #2e628d;
    border: 0;
}

a.btn-success {
    background-color: #2b7a37;
    border: 0;
}

a.btn-success:hover,
a.btn-success:focus,
a.btn-success:active {
    background-color: #1d6c29;
    border: 0;
}

a.btn-warning {
    background-color: #e5ad54;
    border: 0;
}

a.btn-warning:hover,
a.btn-warning:focus,
a.btn-warning:active {
    background-color: #d99d3e;
    border: 0;
}

a.btn-danger {
    background-color: #c03535;
    border: 0;
}

a.btn-danger:hover,
a.btn-danger:focus,
a.btn-danger:active {
    background-color: #b22222;
    border: 0;
}

p.tl-table {
    font-size: 20px;
    font-weight: 400;
    background-color: #eee;
    padding: 10px 10px;
}

td {
    width: auto;
}

td:nth-child(2) {
    text-align: left;
}

td:last-child {
    text-align: right;
}


/* FIM TABELAS */


/* CADASTRO EMPRESAS */

.dados-empresa,
.contato-empresa,
.dados-responsavel,
.redirecionamento {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
    margin-bottom: 10px;
}

.dados-empresa p,
.contato-empresa p,
.dados-responsavel p,
.redirecionamento p,
.table-striped p {
    color: #0066b3;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.dados-empresa label,
.contato-empresa label,
.dados-responsavel label,
.redirecionamento label {
    display: block;
    color: #0066b3;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 0px;
}

.dados-empresa label.inline {
    display: inline-block;
}

.dados-empresa input,
.contato-empresa input,
.dados-responsavel input,
.redirecionamento textarea,
.dados-empresa select,
.dados-empresa textarea {
    width: 100%;
    padding: 5px;
}

input#CheckEmpresas {
    display: inline-block;
    text-align: left;
    width: auto;
    margin-left: 10px;
}

a.btn-empresas {
    float: right;
    margin-bottom: 20px;
    margin-right: 10px;
}

select.sep-processo {
    margin-bottom: 0;
}

label.sep-processo {
    margin-top: 20px;
}


/* FIM CADASTRO EMPRESAS */


/* NOVIDADES */

.news {
    width: 70%;
}

.select-pane {
    display: none;
    width: 100%;
    /*  display: inline-block; */
}

.news h1,
.news-details h2 {
    color: #0066b3;
    font-size: 25px;
}

.news p:first-child {
    margin-bottom: 0;
}

.news select {
    margin-top: 0;
    float: none;
    margin-bottom: 10px;
}

.news-details p {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.news-details ul {
    margin-top: 10px;
}


/* FIM NOVIDADES */

@media screen and (max-width: 2000px) {
    .wrap .nav-bar .navbar-brand {
        margin-top: 0;
        padding-left: 0;
    }
    .wrap .side-menu-link {
        display: inline-block;
    }
    .wrap #side-menu #qform {
        position: absolute;
        top: 10px;
    }
    .wrap .content {
        left: 0;
    }
    .wrap.active .content {
        left: 21em;
    }
    .wrap.active .content #bgrOne {
        top: 10px;
        transform: rotate(225deg);
    }
    .wrap.active .content #bgrTwo {
        opacity: 0;
    }
    .wrap.active .content #bgrThree {
        top: 10px;
        transform: rotate(315deg);
    }
}

@media screen and (min-width: 2000px) {
    .side-menu-link {
        display: none;
    }
    .wrap {
        position: relative;
    }
    .wrap .content {
        left: 21em;
        right: 0;
    }
}

@media screen and (max-width: 768px) {
    table.int-pendente td:nth-child(4),
    table.cad-habilitar td:nth-child(5),
    table.int-pendente td:nth-child(4),
    table.cad-empresa td span,
    table.cad-habilitar td span,
    table.reu-agenda1 td:nth-child(6),
    table.reu-agenda1 td:nth-child(7),
    table.reu-agenda1 td span,
    table.reu-agenda2 td:nth-child(6),
    table.reu-agenda2 td:nth-child(7),
    table.reu-agenda2 td span,
    table.pro-agendador td:nth-child(4),
    table.pro-agendador td:nth-child(1),
    table.pro-agendador td span,
    table.reu-config td:nth-child(6),
    table.reu-config td span,
    table.list-proces td span,
    table.list-proces td:nth-child(5),
    table.list-proces td:nth-child(6),
    table.pro-tarefas td span,
    table.pro-tarefas td:nth-child(5),
    table.pro-tarefas td:nth-child(1),
    table.pro-tipopro td span,
    table.arq-lista td:nth-child(4),
    table.arq-lista td span,
    table.rel-aenviados td:nth-child(1),
    table.rel-aenviados td:nth-child(2),
    table.rel-aenviados td:nth-child(5),
    table.rel-colaboradores td:nth-child(2),
    table.rel-colaboradores td:nth-child(4),
    table.rel-histarefas td:nth-child(4),
    table.rel-histagendador td:nth-child(3),
    table.rel-obrigacoes td:nth-child(3),
    table.rel-empresas td:nth-child(2),
    table.cx-mensagens td:nth-child(4),
    table.cx-mensagens td:nth-child(6),
    table.cx-mensagens td span,
    table.mens-sac td:nth-child(1),
    table.mens-sac td:nth-child(2),
    table.mens-sac td:nth-child(7),
    table.mens-sac td span {
        display: none;
    }
    tbody tr td a.btn {
        padding: 3px 10px;
    }
    a.btn i {
        margin-right: 0;
    }
    .news {
        width: 100%;
    }
    table td a.btn {
        margin-bottom: 5px;
    } 
}

@media screen and (max-width: 480px) {
    table.int-pendente td:nth-child(2),
    table.cad-empresa td:nth-child(5),
    table.cad-habilitar td:nth-child(1),
    table.cad-habilitar td:nth-child(6),
    table.reu-departamento td span,
    table.reu-tipo td span,
    table.pro-agendador td:nth-child(5) {
        display: none;
    }
    .wrap .content .top-bar {
        height: 60px;
    }
    .wrap .burger {
        top: 15px;
    }
    div.user {
        display: inline-grid;
        margin-top: 10px;
        text-align: right
    }
    i.fa.fa-user {
        margin-bottom: 10px;
    }
    a.btn-new {
        float: none;
    }
    details {
        margin-top: 15px;
    }
}
